@model IEnumerable<NovaZaliznitsya.Models.TrainViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Trains</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Train_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.From_City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.To_City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartureDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </th>
        <th></th>
        @if (ViewBag.IsAdmin)
        {
            <th></th>
            <th></th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Train_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.From_City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.To_City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalDate)
            </td>
            <td>
                @Html.ActionLink("Просмотреть вагоны", "ViewCarriages", "Carriage", new { id = item.Id, t_name = item.Train_Name }, null)
            </td>
            @if (ViewBag.IsAdmin)
            {
                <td>
                    @Html.ActionLink("Редактировать поезд", "Edit", "Home", new { id = item.Id }, null)
                </td>
                <td>
                    @Html.ActionLink("Удалить поезд", "Delete", "Home", new { id = item.Id }, null)
                </td>
            }
        </tr>
    }

</table>


@if (ViewBag.IsAdmin)
            {
    
        @Html.ActionLink("Добавить поезд", "Insert", "Home", new {}, null)
    
}